---
import Main from "../layouts/main.astro";
---
<Main>
    <main class="w-full flex justify-center">
        <div class="w-2/3 box-border p-5">
            <h1>Hello, My name is niyuancheng</h1>
        </div>
    </main>
</Main>