---
import Main from "../layouts/main.astro";
---
<Main>
    <main class="w-full flex justify-center z-2 relative">
        <div class="w-1/2 box-border p-5">
                <h1 class="text-4xl font-600">Hello, My name is 倪袁成</h1>
                <p>I am currently working at <span class="underline">哔哩哔哩</span> in China,Shanghai; </p>
                <p>I am a Frontend Engineer, I will enumerate my skills below：</p>
            <ul class="list-disc pl-5">
                <li>Browser Animate：WebGL or WebGPU</li>
                <li>Audio and video codecs：AAC, AVC, HEVC....</li>
                <li>Stream Media Protocol: mpeg-dash, hls</li>
                <li>Media Container File Formats: mp4</li>
                <li>Frontend Performance Optimize</li>
                <li>Some Frontend Frameworks: Vue, React, Solidjs, Astro</li>
                <li>Css Frameworks: Tailwindcss, Unocss</li>
            </ul>
        </div>
    </main>
</Main>