---
---
<div class="w-full flex items-center justify-between p-10">
    <div class="underline underline-offset-4 text-black text-2xl hover:cursor-pointer">
        <a href=".">NiYuancheng Blog</a>
    </div>
    <div class="flex items-center text-gray-500 text-lg">
        <span class="header-item">
            <a href="./blog">Blog</a>
        </span>
        <span class="header-item">
            <a href="./resume">Resume</a>
        </span>

    </div>
</div>