::selection {
  @apply bg-slate-200;
}

article.resume {
  @apply prose prose-slate m-0
    max-w-fit bg-white prose-h1:text-3xl prose-h2:my-0 prose-h2:text-sm
    prose-h2:text-slate-500
    prose-h3:my-0 prose-h3:text-xl
    prose-h4:my-0 prose-h4:text-sm prose-h4:text-slate-600 prose-p:my-0
    prose-p:text-sm prose-p:leading-6 prose-a:font-bold prose-a:no-underline prose-a:transition-colors 
    hover:prose-a:text-slate-400 prose-li:text-sm prose-thead:border-0
    prose-th:p-0 prose-th:font-medium prose-td:p-0
    prose-td:text-slate-500
    dark:bg-slate-800
    prose-h4:dark:text-slate-400  
    sm:px-24 sm:py-14
    lg:max-w-4xl prose-ol:my-0 prose-ul:my-0;

    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
