---
import Header from "../components/Header.astro";
import "../styles.css";
---

<!doctype html>
<html lang="en" class="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="description" content="niyuancheng的个人blog" />
    <title>niyuancheng的个人blog</title>
  </head>
  <body>
    <Header />
    <canvas id="paint" class="absolute w-screen h-screen pointer-events-none"></canvas>
    <slot></slot>
    <script>
      const canvas = document.getElementById("paint") as HTMLCanvasElement;
      const ctx = canvas.getContext("2d")!;
      canvas.width = window.innerWidth * window.devicePixelRatio;
      canvas.height = window.innerHeight * window.devicePixelRatio;
      for (let i = 0; i < 200; i++) {
        ctx.beginPath();
        ctx.fillStyle = "gray";
        ctx.arc(Math.random() * canvas.width, Math.random() * canvas.height, 1, 0, 2 * Math.PI);
        ctx.fill();
        ctx.closePath();
      }
    </script>
  </body>
</html>